*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#4F4F4F;
    font-family: "Poppins", sans-serif;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    height: 80px;
}

.menu-musicas a img{
width: 56px;
}

.menu-musicas a{
    margin-left: 48px;
    
}

.content{
    height: calc(100vh - 80px);
    width: 100%;
    padding: 0 5%;
    display: flex;
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.left-side p{
    color: white;
    margin-bottom: 50px;
}

.left-side a{
    text-decoration: none;
    color: white;
    background-color: #09b93e;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 5px;
}

.right-side{
    width: 100%;
    display: flex;
    align-items: center;
}


